.idea
.vscode
3rdparty
build*
amd64-opt/
armhf-opt/
armhf/
package
build-armhf
build-amd64
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

bin
cmake-build-debug
